 <div class="wrap-right">
   <div id="map" class="top-map" data-map-zoom="16" data-map-scroll="true"></div>
 </div>
 <div class="main-content">
   <div class="main-content-inner">
     <div class="button-show-hide show-mb">
       <span class="body-1">Show Dashboard</span>
     </div>
     <div class="widget-box-2 wd-listing">
       <h6 class="title">My Favorites</h6>
       <div class="wrap-table">
         <div class="table-responsive">

           <table>
             <thead>
               <tr>
                 <th>LISTING TITLE</th>
                 <th>Date Published</th>
                 <th>Action</th>
               </tr>
             </thead>
             <tbody>

               <% @properties.each do |property| %>


               <tr class="file-delete">
                 <td>
                   <div class="listing-box">
                     <a href="<%= property_path(property) %>">
                       <div class="images">
                         <%= image_tag(property.images.first || 'default-image.jpg', alt: property.title) %>
                       </div>
                     </a>
                     <div class="content">
                       <div class="title"> <a href="<%= property_path(property) %>" class="link"><%= property.title %></a>
                       </div>
                       <div class="text-date"><%= property.address %></div>
                       <div class="text-1 fw-7"><%= property.price %> TND
                         <% if property.status== "For Rent" %>
                         <span class="text-variant-1">/month</span>
                         <% end %>
                       </div>

                     </div>
                   </div>
                 </td>
                 <td>
                   <span><%= property.created_at.strftime('%d') %> <%= property.created_at.strftime('%B') %> <%= property.created_at.strftime(', %Y') %></span>
                 </td>

                 <td>
                   <ul class="list-action">
                     <li><a href="<%= edit_property_path(property) %>" class="item"><i class="icon icon-edit"></i>Edit</a></li>
                     <li><a class="item"><i class="icon icon-sold"></i>Sold</a></li>
                     <ul>
                       <li id="property-item-<%= property.id %>">
                         <!-- Property details -->
                         <%= form_with model: property, 
                url: property_path(property), 
                method: :delete, 
                remote: true, 
                html: { id: "delete-form-#{property.id}" }, 
                class: 'inline-form', 
                data: { confirm: 'Are you sure?' } do %>
                         <button type="submit" class="btn btn-danger">
                           <i class="icon icon-trash"></i> Delete
                         </button>
                         <% end %>
                       </li>

                     </ul>


                   </ul>
                 </td>
               </tr>


               <% end %>

             </tbody>
           </table>
         </div>



         <%= paginate @properties %>

       </div>
     </div>
   </div>
   <div class="footer-dashboard">
     <p class="text-variant-2">©2024 Homzen. All Rights Reserved.</p>
   </div>
 </div>

 <div class="overlay-dashboard"></div>
 </div>
 <%= javascript_include_tag 'custom/marker', 'data-turbolinks-track': 'reload' %>
 <%= javascript_include_tag 'custom/map', 'data-turbolinks-track': 'reload' %>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBWzH7VJTGL_5cQgGVBi7wqDc-BhQRLeY"></script>